/*/bpf_*.go
/*/bpf_*.o
/*/vmlinux.h
/hello-world/hello-world
/hello-perf/hello-perf
/hello-map/hello-map
/hello-xdp/hello-xdp
/xdp-ringbuf/xdp-ringbuf
/.vscode
/basic-c/basic_user
/basic-c/basic_kern.skel.h
/hello-tailcall/hello-tailcall
/ringbuf-c/ringbuf_user
/*/*.o
/*/*.skel.h
/syscalls/syscalls_user
/ringbuf-c-attach/ringbuf2_user