/*/bpf_*.go
/*/bpf_*.o
/*/vmlinux.h
/hello-world/hello-world
/hello-perf/hello-perf
/hello-map/hello-map
/hello-xdp/hello-xdp
/xdp-ringbuf/xdp-ringbuf
/.vscode
/basic-c/basic_kern.o
/basic-c/basic_user